<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">My Blog</a></h1>
        </header>

        <article>
            <time>published: 07.08.2023, 13:30</time>
            <h2><a href="">My first post</a></h2>
            <p>First post to be published on myblog :)</p>
        </article>

        <article>
            <time>published: 07.08.2023, 13:35</time>
            <h2><a href="">My second post</a></h2>
            <p>This is the second post I have written :-)</p>
        </article>
    </body>
</html>